.card-color{
  background-color: #F2F4F4;
}
.card-color-solo{
  background-color: #F2F4F4;
}
.card-color:hover{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
}
